name: Test Kratix


on:
  workflow_dispatch:
    inputs:
      sha:
        description: "Commit sha of Kratix"
        required: true
        type: string
      message:
        description: "Commit message"
        type: string
        required: false
      ssh_session:
        type: boolean
        description: "Run the build with tmate debugging."
        required: false
        default: false
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      message:
        type: string
        required: false

jobs:

  build-kratix-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ci repository
        uses: actions/checkout@v4
        with:
          repository: syntasso/ci

      - name: Setup Common Environment
        uses: ./.github/actions/setup-common
        with:
          repository: syntasso/kratix
          ref: ${{ github.event.inputs.sha }}
          path: kratix
          ssh_session: ${{ github.event.inputs.ssh_session }}

      - name: Start tmate ssh debugging session
        if: "${{ inputs.ssh_session == 'true' }}"
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
          detached: true

      - name: Build Kratix image
        run: |
          cd kratix
          EXPORT_IMAGE_TAR=$(make export-image)
          echo "Image saved to: ${EXPORT_IMAGE_TAR}"
          echo "EXPORT_IMAGE_TAR=${EXPORT_IMAGE_TAR}" >> "${GITHUB_ENV}"

      - name: Upload Kratix image artifact
        uses: actions/upload-artifact@v4
        with:
          name: kratix-image-${{ github.run_id }}
          path: ${{ env.EXPORT_IMAGE_TAR }}
          retention-days: 1

  build-quick-start-installer-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ci repository
        uses: actions/checkout@v4
        with:
          repository: syntasso/ci

      - name: Setup Common Environment
        uses: ./.github/actions/setup-common
        with:
          repository: syntasso/kratix
          ref: ${{ github.event.inputs.sha }}
          path: kratix
          ssh_session: ${{ github.event.inputs.ssh_session }}

      - name: Build quick-start installer image
        run: |
          cd kratix/hack/kratix-quick-start-installer
          QUICK_START_INSTALLER_TAR=$(make export-image)
          echo "QUICK_START_INSTALLER_TAR=${QUICK_START_INSTALLER_TAR}" >> "${GITHUB_ENV}"

      - name: Upload quick-start installer image artifact
        uses: actions/upload-artifact@v4
        with:
          name: quick-start-installer-image-${{ github.run_id }}
          path: ${{ env.QUICK_START_INSTALLER_TAR }}
          retention-days: 1

  system-test:
    runs-on: ubuntu-latest
    needs: [build-kratix-image, build-quick-start-installer-image]
    strategy:
      fail-fast: false
      max-parallel: 1  # Run one at a time
      matrix:
        flags:
          - name: default
            env:

          - name: ff-promise-upgrade
            env:
              UPGRADE_ENABLED: "true"

    name: system-test (${{ matrix.flags.name }})
    env:
      DOCKER_BUILDKIT: "1"
      ACK_GINKGO_RC: "true"
    steps:

      - name: set conditional env vars
        run: |
         echo "UPGRADE_ENABLED: $UPGRADE_ENABLED"; if [ "${{ matrix.flags.env.UPGRADE_ENABLED }}" == "true" ]; then echo "UPGRADE_ENABLED=true" >> "${GITHUB_ENV}"; fi

      - name: Checkout ci repository
        uses: actions/checkout@v4
        with:
          repository: syntasso/ci

      - name: Setup Common Environment
        uses: ./.github/actions/setup-common
        with:
          repository: syntasso/kratix
          ref: ${{ github.event.inputs.sha }}
          path: kratix
          ssh_session: ${{ github.event.inputs.ssh_session }}

      - name: Download quick-start installer image artifact
        uses: actions/download-artifact@v4
        with:
          name: quick-start-installer-image-${{ github.run_id }}
          path: ${{ runner.temp }}/quick-start-installer-image

      - name: Load quick-start installer image
        run: |
          image_tar=$(ls $RUNNER_TEMP/quick-start-installer-image/*.tar | head -1)
          docker load -i "${image_tar}"

      - name: Download Kratix image artifact
        uses: actions/download-artifact@v4
        with:
          name: kratix-image-${{ github.run_id }}
          path: ${{ runner.temp }}/kratix-image

      - name: Load Kratix image
        run: |
          image_tar=$(ls $RUNNER_TEMP/kratix-image/*.tar)
          docker load -i "${image_tar}"

      - name: System Tests
        env:
          TEST_GIT_WRITER_GITHUB_APP_ID: "${{ secrets.TEST_GIT_WRITER_GITHUB_APP_ID }}"
          TEST_GIT_WRITER_GITHUB_APP_INSTALLATION_ID: "${{ secrets.TEST_GIT_WRITER_GITHUB_APP_INSTALLATION_ID }}"
          TEST_GIT_WRITER_GITHUB_APP_PRIVATE_KEY: "${{ secrets.TEST_GIT_WRITER_GITHUB_APP_PRIVATE_KEY }}"
          TEST_GIT_WRITER_GITHUB_HTTP_PAT: "${{ secrets.TEST_GIT_WRITER_GITHUB_HTTP_PAT }}"
          TEST_GIT_WRITER_GITHUB_SSH_PRIVATE_KEY: "${{ secrets.TEST_GIT_WRITER_GITHUB_SSH_PRIVATE_KEY }}"
        run: |
          cd kratix
          make system-test
